In [3]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [4]:
# Store the csv you saved or created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Devrek,TR,2021-10-02 00:22:05,41.2192,31.9558,48.96,91,8,3.36
1,1,Saint-Augustin,CA,2021-10-02 00:22:05,51.2260,-58.6502,44.19,84,100,24.07
2,2,Mataura,NZ,2021-10-02 00:19:36,-46.1927,168.8643,57.47,60,100,5.91
3,3,Volksrust,ZA,2021-10-02 00:22:06,-27.3654,29.8818,55.65,83,84,9.37
4,4,Kamyshlov,RU,2021-10-02 00:22:06,56.8428,62.7111,32.97,75,79,4.68

In [5]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = [latitude, longitude]

# 2. Assign the weights variable to some values
temperatures = # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data
fig

SyntaxError: invalid syntax (<ipython-input-7-17aa37b3782c>, line 5)

In [ ]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of percent humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
humidity = city_data_df["Humidity"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
clouds = city_data_df["Cloudiness"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Heatmap of wind speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
wind = city_data_df["Wind Speed"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

In [12]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Cayenne,GF,2021-10-02 00:22:08,4.9333,-52.3333,83.08,79,17,1.99
8,8,Carnarvon,AU,2021-10-02 00:19:31,-24.8667,113.6333,68.07,49,16,12.66
10,10,Muisne,EC,2021-10-02 00:22:09,0.6000,-80.0333,74.35,85,82,5.44
13,13,Namatanai,PG,2021-10-02 00:20:32,-3.6667,152.4333,85.08,65,97,3.00
14,14,Isangel,VU,2021-10-02 00:22:10,-19.5500,169.2667,77.11,88,90,9.22
19,19,San Cristobal,VE,2021-10-02 00:20:43,7.7669,-72.2250,75.38,92,18,2.55
21,21,Mazara Del Vallo,IT,2021-10-02 00:22:13,37.6641,12.5880,71.55,92,47,15.19
22,22,Kavaratti,IN,2021-10-02 00:22:13,10.5669,72.6420,77.86,83,99,3.22
24,24,Vaini,TO,2021-10-02 00:19:42,-21.2000,-175.2000,77.16,88,75,13.80
26,26,Fowa,NG,2021-10-02 00:22:15,8.9167,6.4000,73.06,96,96,4.29

In [13]:
# Any null values?
preferred_cities_df.count()

City_ID       247
City          247
Country       247
Date          247
Lat           247
Lng           247
Max Temp      247
Humidity      247
Cloudiness    247
Wind Speed    247
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
7            Cayenne      GF     83.08   4.9333  -52.3333
8          Carnarvon      AU     68.07 -24.8667  113.6333
10            Muisne      EC     74.35   0.6000  -80.0333
13         Namatanai      PG     85.08  -3.6667  152.4333
14           Isangel      VU     77.11 -19.5500  169.2667
19     San Cristobal      VE     75.38   7.7669  -72.2250
21  Mazara Del Vallo      IT     71.55  37.6641   12.5880
22         Kavaratti      IN     77.86  10.5669   72.6420
24             Vaini      TO     77.16 -21.2000 -175.2000
26              Fowa      NG     73.06   8.9167    6.4000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]