In [31]:
# Import the dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [32]:
# Create a set of random latitude and longitude combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [33]:
# Add the latitudes and longitudes to a list
coordinates = list(lat_lngs)

In [34]:
# Use the citipy mocule to determine city based on latitude and longitude
from citipy import citipy

In [35]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

610

In [36]:
# Import the requests library
import requests

# Import the API key
from config import weather_api_key

In [37]:
# Starting URL for Weather Map API Call
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [38]:
# Import the datetime module from the datetime library
from datetime import datetime

In [39]:
# Create an empty list to hold the weather data
city_data = []

# Print the beginning of the logging
print("Beginning Data Retrieval                        ")
print("------------------------------------------------")

# Create counters
record_counter = 1
set_count = 1

Beginning Data Retrieval
------------------------------------------------

In [40]:
# Loop through all the cities in our list
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1

    # Create endpoint URL with each city
    city_url = url + "&q=" + cities[i]

# Loop through all the cities in the list
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1

    # Create endpoint URL with each city
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count
    record_count += 1

# Run an API request for each of the cities
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 13 | atambua
Processing Record 2 of Set 13 | floresta
Processing Record 3 of Set 13 | jamestown
Processing Record 4 of Set 13 | khatanga
Processing Record 5 of Set 13 | punta arenas
Processing Record 6 of Set 13 | tiksi
Processing Record 7 of Set 13 | new norfolk
Processing Record 8 of Set 13 | upernavik
Processing Record 9 of Set 13 | okandja

In [ ]:
len(city_data)

591

In [ ]:
# Convert the array of dictionaires to a Pandas DataFrame
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Castro,-24.7911,-50.0119,58.82,98,100,8.61,BR,2021-10-01 19:10:33
1,Goderich,43.7501,-81.7165,71.04,70,30,8.70,CA,2021-10-01 19:10:34
2,Chapais,49.7834,-74.8492,56.17,39,5,7.09,CA,2021-10-01 19:10:34
3,Alghero,40.5589,8.3181,69.98,83,20,4.61,IT,2021-10-01 19:10:35
4,Sao Filipe,14.8961,-24.4956,78.78,76,35,5.86,CV,2021-10-01 19:10:35
5,Hobart,-42.8794,147.3294,56.12,96,90,6.91,AU,2021-10-01 19:08:16
6,Rikitea,-23.1203,-134.9692,72.84,75,11,20.38,PF,2021-10-01 19:08:29
7,Atuona,-9.8000,-139.0333,78.17,71,34,21.68,PF,2021-10-01 19:10:36
8,Tarakan,3.3000,117.6333,79.30,82,100,3.04,ID,2021-10-01 19:10:36
9,Mar Del Plata,-38.0023,-57.5575,62.62,46,0,11.01,AR,2021-10-01 19:10:37

In [ ]:
# Reorder columns
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Castro,BR,2021-10-01 19:10:33,-24.7911,-50.0119,58.82,98,100,8.61
1,Goderich,CA,2021-10-01 19:10:34,43.7501,-81.7165,71.04,70,30,8.70
2,Chapais,CA,2021-10-01 19:10:34,49.7834,-74.8492,56.17,39,5,7.09
3,Alghero,IT,2021-10-01 19:10:35,40.5589,8.3181,69.98,83,20,4.61
4,Sao Filipe,CV,2021-10-01 19:10:35,14.8961,-24.4956,78.78,76,35,5.86
5,Hobart,AU,2021-10-01 19:08:16,-42.8794,147.3294,56.12,96,90,6.91
6,Rikitea,PF,2021-10-01 19:08:29,-23.1203,-134.9692,72.84,75,11,20.38
7,Atuona,PF,2021-10-01 19:10:36,-9.8000,-139.0333,78.17,71,34,21.68
8,Tarakan,ID,2021-10-01 19:10:36,3.3000,117.6333,79.30,82,100,3.04
9,Mar Del Plata,AR,2021-10-01 19:10:37,-38.0023,-57.5575,62.62,46,0,11.01

In [ ]:
# Create the output file (csv)
output_data_file = "weather_data/cities.csv"

# Export the City_Data into a csv
city_data_df.to_csv(output_data_file, index_label="City_ID")